
<div class="product-card">

  <div class="card-header">
      <h2 class="card-title">Produktsuche</h2>
  </div>

  <div class="card-body">

      <form>
          <div class="form-group">
              <label>Bezeichnung:</label>
              <input [(ngModel)]="title" name="Bezeichnung" class="form-control">
          </div>
          <div class="form-group">
          <button
              class="btn btn-default" (click)="search()" [disabled]="!title">
              Suchen
          </button>
          </div>
          <ng-container *ngIf="( products | filter : title) as result">
            <label>Suchvorschläge:</label>
            <p *ngFor="let product of result">
              {{product.title}}
            </p>
            <p *ngIf="result.length === 0">Kein Produkt gefunden!</p>  
          </ng-container>
      </form>

  </div>
</div>


<div class="product-card" *ngIf="products.length">

  <table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bezeichnung</th>
            <th>Verkäufer</th>
            <th>Preis</th>
            <th>auf Lager?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products"
          [ngClass]="{'active':p === selectedProduct}">
          <td>
              <span class="badge badge-pill badge-info">
                  {{ p.id }}
              </span>
          </td>
          <td>{{p.title }}</td>
          <td>{{p.vendor }}</td>
          <td>{{p.price }}</td>
          <td>{{p.inStock }}</td>
          <td>
                <button
                  (click)="select(p)"
                  class="btn btn-info btn-sm"
                  style="min-width: 85px">
                  Bearbeiten
                </button>
                <button
                  (click)="delete(p)"
                  class="btn btn-info btn-sm"
                  style="min-width: 85px">
                  Löschen
                </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="card" *ngIf="selectedProduct">
  <div class="card-header">
    <h2 class="card-title">Produkt bearbeiten</h2>
  </div>
  <div class="card-body">

    <div>
        {{ message }}
    </div>

    <form>
        <div class="form-group">
            <label>ID</label>
            <input [(ngModel)]="selectedProduct!.id" name="id" class="form-control">
        </div>

        <div class="form-group">
            <label>Bezeichnung</label>
            <input [(ngModel)]="selectedProduct!.title" name="Bezeichnung" class="form-control">
        </div>

        <div class="form-group">
              <label>Verkäufer</label>
              <input [(ngModel)]="selectedProduct!.vendor" name="Verkäufer" class="form-control">
          </div>

          <div class="form-group">
              <label>Preis</label>
              <input [(ngModel)]="selectedProduct!.price" name="Preis" class="form-control">
          </div>

          <div class="form-group">
            <label>auf Lager?</label>
            <input [(ngModel)]="selectedProduct!.inStock" name="auf Lager?" class="form-control">
        </div>

      <div class="form-group">
          <button (click)="save()" class="btn btn-default">Speichern</button>
      </div>
    </form>

  </div>
</div>

<div class="user-card">
  <div class="card-body">
      <pre>{{ selectedProduct | json }}</pre>
  </div>
</div>

