<div class="card">
    <div class="card-header">
      <h2 class="card-title">Suche nach Einkaufswagen</h2>
    </div>
  
    <div class="card-body">
  
      <form>
  
        <div class="form-group">
          <label>ID:</label>
          <input [(ngModel)]="id" name="id" class="form-control">
        </div>
        <div class="form-group">
          <button [disabled]="!id"
            (click)="search()"
            class="btn btn-default">
            Suchen
          </button>
        </div>
  
      </form>
  
    </div>
  </div>

  <div class="cart-card" *ngIf="carts.length">

    <table class="table table-striped">
      <thead>
          <tr>
              <th>Einkaufswagen ID</th>
              <th>Produkte</th>
              <th>Summe</th>
              <th>Benutzer</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of carts" 
        [ngClass]="{'active':c === selectedCart}">
            <!--[class.table-active]="c === selectedCart">-->
            
            <td>
                <span class="badge badge-pill badge-info">
                    {{ c.id }}
                </span>
            </td>
            <td>{{c.items }}</td>
            <td>{{c.totalPrice }}</td>
            <td>{{c.user }}</td>
            <td>
                  <button
                    (click)="select(c)"
                    class="btn btn-info btn-sm"
                    style="min-width: 85px">
                    Select
                </button>
              </td>
          </tr>
      </tbody>
    </table>
  
  </div>
  
  <div class="row">
    <div
      *ngFor="let c of carts"
      class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <app-cart-card [item]="c"></app-cart-card>
    </div>
  </div>
