<div class="card">
    <div class="card-header">
      <h2 class="card-title">Suche nach Einkaufswagen</h2>
    </div>
  
    <div class="card-body">
  
      <form>
  
        <div class="form-group">
          <label>ID:</label>
          <input [(ngModel)]="id" name="id" class="form-control">
        </div>
        <div class="form-group">
          <button [disabled]="!id"
            (click)="search()"
            class="btn btn-default">
            Suchen
          </button>
          <button routerLink="/carts/new"
            (click)="createCart()"
            class="btn btn-success">
            Neu
          </button>
        </div>
  
      </form>
  
    </div>
  </div>
  
  <div class="row">
    <div
      *ngFor="let c of carts"
      class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <app-cart-card [item]="c"></app-cart-card>
    </div>
  </div>
