
<div class="user-card">

    <div class="card-header">
        <h2 class="card-title">User Search</h2>
    </div>

    <div class="card-body">

        <form>
            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="name" name="name" class="form-control">
                <label>ID:</label>
                <input [(ngModel)]="id" name="id" class="form-control">
            </div>
            <div class="form-group">
            <button
                class="btn btn-default" (click)="search()" [disabled]="!name">
                Search
            </button>
            </div>
        </form>

    </div>
</div>

<div class="user-card" *ngIf="user.length">

    <table class="table table-condensed">
      <thead>
          <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Adresse</th>
              <th>E-Mail</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of user"
            [ngClass]="{'active':u === selectedUser}">
            <td>
                <span class="badge badge-pill badge-info">
                    {{ u.id }}
                </span>
            </td>
            <td>{{u.name }}</td>
            <td>{{u.address }}</td>
            <td>{{u.email }}</td>
            <td>
                  <button
                    (click)="select(u)"
                    class="btn btn-info btn-sm"
                    style="min-width: 85px">
                    Select
                </button>
              </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="card" *ngIf="selectedUser">
    <div class="card-header">
      <h2 class="card-title">User Edit</h2>
    </div>
    <div class="card-body">
  
      <div>
          {{ message }}
      </div>
  
      <form>
          <div class="form-group">
              <label>User ID</label>
              <input [(ngModel)]="selectedUser!.id" name="id" class="form-control">
          </div>
  
          <div class="form-group">
              <label>Name</label>
              <input [(ngModel)]="selectedUser!.name" name="name" class="form-control">
          </div>

          <div class="form-group">
                <label>Adresse</label>
                <input [(ngModel)]="selectedUser!.address" name="address" class="form-control">
            </div>

            <div class="form-group">
                <label>E-Mail</label>
                <input [(ngModel)]="selectedUser!.email" name="email" class="form-control">
            </div>

        <div class="form-group">
            <button (click)="save()" class="btn btn-default">Save</button>
        </div>
      </form>
  
    </div>
  </div>
  
  <div class="user-card">
    <div class="card-body">
        <pre>{{ selectedUser | json }}</pre>
    </div>
</div>

  
