<div class="sidebar-wrapper">
    <div class="logo">
      <a routerLink="home" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/paper-design/angular2-logo.png">
        </div>
      </a>
      <a routerLink="home" class="simple-text logo-normal">
        Tech-Webshop 500
      </a>
    </div>
      <ul class="nav">
        <li routerLinkActive="active">
            <a routerLink="home" >
                <p>Home</p>
            </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="products" >
                <p>Products</p>
            </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="users" >
                <p>User-Management</p>
            </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="carts" >
                <p>Basket</p>
            </a>
        </li>
      </ul>
  </div>
  
