<div class="card">
    <div class="card-header">
      <h2 class="card-title">Dateneingabe</h2>
    </div>

    <div class="card-body">

        <form [formGroup]="editForm">

            <div class="form-group">
                <label>Einkaufswagen-ID:</label>
                <input ngModel formControlName="id" class="form-control">
            </div>

            <div class="form-group">
                <label>Benutzer-ID:</label>
                <input ngModel formControlName="user" class="form-control">
            </div>

            <div class="form-group">
                <label>Produkte:</label>
                <input ngModel formControlName="items" class="form-control">
            </div>

            <div class="form-group">
                <label>Summe:</label>
                <input ngModel formControlName="totalPrice" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Speichern</button>
            </div>

        </form>
    
    </div>
</div>

  

